[0;1;37m────────────────────────────────[0m
                        [0;1;31m风云规则[0m 
[0;1;37m────────────────────────────────[0m

（一）[1;32m玩家守则[0m： 

为维护风云的正常运行和全体风云玩家的正当利益，风云工作组郑重声明
下列规则，违反者按细则篇进行相应处罚。所有条例最终解释权在ADMIN。 

1、使用污言秽语作为登陆姓名者，故意使用与风云游戏中NPC相同的中英
   文姓名并影响游戏正常进行劝阻不听者，处罚方法6。 

2、在公用频道上多次（超过三次）重复同一信息，有意用大量信息刷屏，
   或是在公用频道以及留言版上贴出不雅或非法言论者，处罚3-7。 

3、知BUG不报，利用BUG获取经验、金钱、技能或其他利益者，处罚见方法
   篇 1-3、6-7。

4、骚扰，恶意辱骂他人，造成其他玩家无法正常进行游戏者，处罚3-7。 

5、恶意攻击风云服务器或造成游戏无法正常进行者，处罚6-7。 

6、风云禁止机器人练功，所谓机器人练功是指在获得经验、技能、金钱的
   过程中无法对巫师的询问做出正常反应。处罚方法为1-3，6-7。

7、任何利用风云发布非法言论或实施非法行为以及谋取非法利益者，由
   相关法律机构作出追究及处理，风云工作组保留进一步通过法律追究
   损失的权利。
     
（二）[1;32m处罚细则[0m： 

1、 扣除所有由BUG及非正当途径牟取的经验、技能、存款等。 

2 、扣除玩家经验的百分之十，清除所有存款。 

3、 将违规玩家拘禁在风云监狱中（IMPRISON）。 

4、 禁止违规玩家在一个小时内的风云登陆权（NUKE）。 

5、 禁止某IP地址至下一次风云启动前的登陆权(EXEC)。

6、 清除此玩家所有档案（PURGE）。 

7、 拒绝此玩家站点联线风云的权力（BAN）。 

[0;1;37m────────────────────────────────[0m
